---
import ContentPageLayout from "../../layouts/ContentPageLayout.astro";
import { page } from "../../data/algemene-voorwaarden";
import { localize, resolveLangFromUrl } from "../../i18n";

const lang = resolveLangFromUrl(Astro.url);
---

<ContentPageLayout
    title={localize(page.title, lang)}
    description={localize(page.seo.description, lang)}
  titleKey="terms.page.title"
>
    <p class="lead" data-i18n="terms.page.lead">{localize(page.lead, lang)}</p>
</ContentPageLayout>
